.container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  background-color: #f4f4f4;
}
.tempInfo {
  font-size: 5rem;
  margin-top: 0;
}
.temp > h1 {
  font-size: 3rem;
}
.temp {
  border-right: 1px solid black;
  width: 100%;
  text-align: center;
}
.info {
  margin-left: 1rem;
}
.info > h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.info > p {
  margin: 0;
  font-size: 1.2rem;
  color: blue;
}
